body {
  background-color: #343434
  ;
  color: white;
}
#showOrder {
  display: none;
}
#header {
  text-align: right;
  /* font-family: fantasy; */
  padding-right: 125px;
  color: #f2ef3c;
  padding-top: 25px;
  background: url("../img/pizza1.jpg");
  background-color: black;
  height: 200px;
  background-size: cover;
  box-shadow: 0 0 8px 8px #3a3a3a inset;
}
#orderName {
  width: 50%;
}
h6, h4, hr {
  margin-top: 30px;
  color: #fff187;
}
#addToOrderButton {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}
.orderCost {
  text-align: center;
  margin-right: 10%;
}
#submitOrderButton {
  width: 50%;
  margin-top: 5%;
  margin-left: 25%;
}
#showFinalConfirmation {
  display: none;
  position: fixed;
  left: 25%;
  top: 16%;
  margin: auto;
  border: 2px solid black;
  background-color: #c7d4e2;
  color: black;
  width: 50%;
  height: 73%;
  border-radius: 12px;
  padding-top: 0px;
}
#showFinalConfirmation h4 {
  color: white;
  text-align: center;
  background-color: #2764a5;
  padding-top: 15px;
  height: 65px;
  border-radius: 10px;
  border: 1px solid black;
}
#showFinalConfirmation h6 {
  text-align: center;
  color: black;
}
#confirmOrderButton {
  width: 60%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 5px;
}
#returnToOrderButton {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5px;
}
#cancelOrderButton {
  width: 60%;
  margin-left: 20%;
}
#orderConfirm {
  float: left;
  margin-left: 40px;
  margin-top: 15px;
}
#orderConfirmCosts {
  text-align: right;
  margin-right: 50px;
  list-style: none;
  margin-top: 15px;
}